.landing {
    height: 100vh;
    .landing-bg {
        position: absolute;
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        height: 400px;
        z-index: -1;

        

        .bg-track {
            display: flex;
            height: 100%;
            width: 100%;
            animation: marquee 40s linear infinite alternate;
            will-change: transform;
            gap: 2rem;
            div {
                position: relative;
                flex: 0 0 25%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                >img {
                    width: 100%;
                    height: 100%;
                    filter: blur(0.15rem);
                    -webkit-filter: blur(0.15rem);
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: block;
                    z-index: 0;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        .logo-track {
            position: absolute;
            z-index: -1;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}