@use "@/styles/variables" as *;

.post-section {
    .inner {
        max-width: $container-md;
        .post-header{
            background: none;
            margin-bottom: $space-lg;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $blue;
            h2{
                display: inline;
                background: $blue;
                padding: $space-sm;
                font-size: $text-md;
                font-weight: 500;
                color: $line;
            }
            .btn.primary {
                width: auto;
            }
        }

        .post-btn-wrap {
            display: flex;
            justify-content: space-between;
            padding-bottom: $space-sm;
            margin: $space-xl 0;
            border-bottom: 1px solid $gray-300;
            .filter-btn {
                width: 40px;
                height: 40px;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.post-detail {
        .inner {
            .post-main {
                margin-top: $space-xl;
                display: flex;
                flex-direction: column;
                gap: $space-lg;
                padding: $space-lg;
                .img-wrap {
                    margin: $space-md auto;
                }
                .post-card-category {
                    color: $purple;
                    text-align: center;
                }
                .post-card-title {
                    font-size: $text-xl;
                    color: $blue;
                    text-align: center;
                }
                .tags {
                    justify-content: center;
                }
                .btn-wrap {
                    display: flex;
                    gap: $space-md;
                    justify-content: center;
                    margin: $space-xl 0;
                }
                .post-card-body-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: $space-lg;

                    .post-label{
                        color: $blue;
                        font-size: $text-lg;
                        font-weight: 700;
                    }

                    .post-card-content-wrap {
                        .post-card-content {
                            border-top: 2px solid $blue;
                            border-bottom: 2px solid $blue;
                            background-color: $gray-100;
                            height: 200px;
                            width: 100%;
                            min-height: 160px;
                        }
                    }

                    .post-card-review-wrap {
                        .post-card-review {
                            border-top: 2px solid $blue;
                            border-bottom: 2px solid $blue;
                            background-color: $gray-100;
                            height: 200px;
                            width: 100%;
                            min-height: 160px;
                        }
                    }
                }
            }
        }
    }
}