@use "@/styles/variables" as *;

.post-section {
    .inner {
        max-width: $container-md;
        .post-header{
            background: none;
            margin-bottom: $space-lg;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $blue;
            h2{
                display: inline;
                background: $blue;
                padding: $space-sm;
                font-size: $text-md;
                font-weight: 500;
                color: $line;
            }
            .btn.primary {
                width: auto;
            }
        }

        .post-btn-wrap {
            display: flex;
            justify-content: space-between;
            padding-bottom: $space-sm;
            margin: $space-xl 0;
            border-bottom: 1px solid $gray-300;
            .filter-btn {
                width: 40px;
                height: 40px;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.post-detail {
        .inner {
            .post-main {
                margin-top: $space-xl;
                display: flex;
                flex-direction: column;
                gap: $space-lg;
                padding: $space-lg;
                .img-wrap {
                    margin: $space-md;
                }
                .post-card-category {
                    color: $purple;
                }
                .post-card-title {
                    font-size: $text-xl;
                    color: $blue;
                }
            }
        }
    }
}